/* set background image per page */

.login-bg {
  background: url(../images/backgrounds/dungeonsanddragons6.jpg) no-repeat center center fixed;
  background-size: contain;
}

.about-bg {
  background: url(images/about.bg.jpg) no-repeat center center fixed;
}

.contact-bg {
  background: url(images/contact-bg.jpg) no-repeat center center fixed;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  background-color: #333333;
}

main {
  height: 90%;
}

.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #333333;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p {
  margin-top: 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger {
  margin-left: 10px;
}

.navbar {
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: square;
  display: block;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #eee;
}

.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px;
}

.LoginForm md-content {
  background-color: transparent !important;
  padding: 10% 10% 10% 10%;
}

.LoginForm md-content md-tabs md-tabs-wrapper {
  background: #fff;
}

.LoginForm md-content h1:first-child {
  margin-top: 0;
}

md-tabs md-ink-bar {
  background: #c47135;
}

#loginDialog {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  opacity: 0.8;
  text-transform: none;
  max-width: 500px;
  margin: auto;
}

md-fab-toolbar md-toolbar.pevents__initial {
  pointer-events: initial;
}

.md-card-image {
  padding: 5px;
}

/* .changelog {
  width: 50%;
} */