<div ng-controller="FabToolbar" class="navbar" ng-cloak>
    <div class="container">
       <md-fab-toolbar class="toolbar-icons" md-open="header.isOpen" md-direction="{{header.selectedDirection}}">
           <md-fab-trigger class="align-with-text">
               <md-button aria-label="Menu" class="md-fab md-primary">
                   <md-icon md-font-icon="mi mi-menu"></md-icon>
               </md-button>
           </md-fab-trigger>
           <md-toolbar class='pevents__initial'>
               <md-fab-actions class="md-toolbar-tools">
                   <md-button aria-label="Changelog" class="md-icon-button">
                        <md-tooltip md-direction="bottom">Changelog</md-tooltip>
                       <md-icon md-font-icon="mi mi-history"></md-icon>
                   </md-button>
                   <md-button aria-label="Profile" class="md-icon-button">
                        <md-tooltip md-direction="bottom">Profile</md-tooltip>
                        <md-icon md-font-icon="mi mi-person"></md-icon>
                    </md-button>
                    <md-button aria-label="About" class="md-icon-button">
                            <md-tooltip md-direction="bottom">About</md-tooltip>
                            <md-icon md-font-icon="mi mi-info"></md-icon>
                        </md-button>
               </md-fab-actions>
           </md-toolbar>
       </md-fab-toolbar>
    </div>
</div>
  