<div class="user-bg">
    <div layout="row">
        <h3 flex style="margin: 0 0 0 60px;" layout="row" id="welcome" class="welcome">Welcome, {{vm.userObject.userName}}!</h3>
        <md-button style="margin: 0 60px 0 0;" aria-label="Sign out" class="md-fab md-mini" ng-click="vm.userService.logout()">
            <md-tooltip md-direction="left">Sign Out</md-tooltip>
            <md-icon md-font-icon="mi mi-power-settings-new"></md-icon>
        </md-button>
    </div>

    <div ng-cloak="" class="UserForm" flex>
        <div class="wrapper">
            <md-content class="md-padding layout-row">
                <div flex-xs flex-gt-xs="50" layout="row" ng-include="'/views/dmc/tools.html'">
                </div>

                <div flex-xs flex-gt-xs="50" layout="row">
                    <md-card style="opacity: 0.8;height:600px">
                        <div id="dmcDialog">
                            <md-tabs flex layout="column" md-stretch-tabs="always" class="dmcTabs" md-dynamic-height md-no-ink md-stretch-tabs="auto">
                                <md-tabs-wrapper class="tb-wrp md-stretch-tabs">

                                    <md-tab label="Manage Campaigns">
                                        <md-content class="tab-content md-padding" ng-controller="ManageCampaign">
                                            <div layout="row" id="labels">
                                                <md-card>
                                                    <md-button style="width:175px;" ng-click="createCampaignDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Campaign">Create Campaign</md-button>
                                                    <md-button style="width:175px;" ng-click="createCharacterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Character">Create Character</md-button>
                                                    <md-button style="width:175px;" ng-click="createMonsterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Monster">Create Monster</md-button>
                                                    <md-button style="width:175px;" ng-click="createEncounterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Encounter">Create Encounter</md-button>
                                                </md-card>
                                                <md-card ng-controller="CampaignServiceController as cc">
                                                    <md-select flex placeholder="Select Campaign" ng-model="campaign" ng-change="onChange()" style="width: 300px;">
                                                        <md-option ng-value="campaign" ng-repeat="campaign in cc.campaignList.list" ng-model="cc.campaignList.list">{{campaign.campaign_name}}</md-option>
                                                    </md-select>

                                                    <h3 center style="text-align:center;vertical-align: middle;line-height: 30px;" value="campaign.campaign_notes">Campaign Notes
                                                        <hr />{{ campaign.campaign_notes }}</h3>
                                                </md-card>
                                            </div>
                                            <div layout="row" id="labels">

                                                <md-card style="width:245px;max-height:325px;" ng-controller="CampaignServiceController as cc">
                                                    <md-title>
                                                        <h4 style="text-align:center;vertical-align: middle;line-height: 10px;">Characters</h4>
                                                        <hr />
                                                    </md-title>
                                                    <md-content>
                                                        <ul>
                                                            <li ng-repeat="character in cc.characterList.list" style="vertical-align:middle;">
                                                                <img style="zoom:75%;padding:10px;vertical-align:middle;" ng-src="{{character.character_icon}}"/>{{character.character_name}}<md-button ng-click="cc.deleteCharacter(character)" style="float:right;margin: 10px 0px 0px 0px;" class="md-fab md-mini" aria-label="Delete Character"><md-icon md-font-icon="mi mi-delete"></md-icon></md-button>
                                                            </li>
                                                        </ul>
                                                    </md-content> 
                                                    </md-card>
                                                    
                                                <md-card style="width:245px;max-height:325px;" ng-controller="CampaignServiceController as cc">
                                                    <md-title>
                                                        <h4 style="text-align:center;vertical-align: middle;line-height: 10px;">Encounters</h4>
                                                    </md-title>
                                                    <md-content>
                                                        <hr />
                                                    </md-content>
                                                </md-card>
                                            </div>
                                    </md-tab>

                                    <!-- <md-tab label="Manage Characters">
                                        <md-content class="md-padding" ng-controller="RegisterController as rc">
                                            <form ng-submit="rc.registerUser()">
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Username" md-font-icon="mi mi-person"></md-icon>
                                                    <input ng-model="rc.user.username" type="username" placeholder="Username" ng-required="true">
                                                </md-input-container>
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Password" md-font-icon="mi mi-lock"></md-icon>
                                                    <input ng-model="rc.user.password" type="password" placeholder="Password" ng-required="true">
                                                </md-input-container>
                                                <div layout="row" flex>
                                                    <span flex></span>
                                                    <md-button class="md-raised md-primary" type="submit" name="submit" value="Register">Register</md-button>
                                                </div>
                                            </form>
                                        </md-content>
                                    </md-tab>

                                    <md-tab label="Manage Encounters">
                                        <md-content class="md-padding" ng-controller="RegisterController as rc">
                                            <form ng-submit="rc.registerUser()">
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Username" md-font-icon="mi mi-person"></md-icon>
                                                    <input ng-model="rc.user.username" type="username" placeholder="Username" ng-required="true">
                                                </md-input-container>
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Password" md-font-icon="mi mi-lock"></md-icon>
                                                    <input ng-model="rc.user.password" type="password" placeholder="Password" ng-required="true">
                                                </md-input-container>
                                                <div layout="row" flex>
                                                    <span flex></span>
                                                    <md-button class="md-raised md-primary" type="submit" name="submit" value="Register">Register</md-button>
                                                </div>
                                            </form>
                                        </md-content>
                                    </md-tab> -->

                                    <md-tab label="Initiative Tracker">
                                        <md-content class="md-padding" ng-controller="RegisterController as rc">
                                            <form ng-submit="rc.registerUser()">
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Username" md-font-icon="mi mi-person"></md-icon>
                                                    <input ng-model="rc.user.username" type="username" placeholder="Username" ng-required="true">
                                                </md-input-container>
                                                <md-input-container class="md-icon-float md-block">
                                                    <md-icon style="position: absolute;" aria-label="Password" md-font-icon="mi mi-lock"></md-icon>
                                                    <input ng-model="rc.user.password" type="password" placeholder="Password" ng-required="true">
                                                </md-input-container>
                                                <div layout="row" flex>
                                                    <span flex></span>
                                                    <md-button class="md-raised md-primary" type="submit" name="submit" value="Register">Register</md-button>
                                                </div>
                                            </form>
                                        </md-content>
                                    </md-tab>
                                </md-tabs-wrapper>
                            </md-tabs>
                        </div>
                    </md-card>
                </div>
                </md-content>
        </div>
    </div>
</div>