<div class="user-bg">
    <div layout="row">
        <h3 flex style="margin: 0 0 0 60px;" layout="row" id="welcome" class="welcome">Welcome, {{vm.userObject.userName}}!</h3>
        <md-button style="margin: 0 60px 0 0;" aria-label="Sign out" class="md-fab md-mini" ng-click="vm.userService.logout()">
            <md-tooltip md-direction="left">Sign Out</md-tooltip>
            <md-icon md-font-icon="mi mi-power-settings-new"></md-icon>
        </md-button>
    </div>

    <div ng-cloak="" class="UserForm" flex>
        <div class="wrapper">
            <md-content class="md-padding layout-row">
                <div flex-xs flex-gt-xs="50" layout="row" ng-include="'/views/dmc/tools.html'">
                </div>

                <div flex-xs flex-gt-xs="50" layout="row">
                    <md-card style="opacity: 0.8;height:600px">
                        <div id="dmcDialog">
                            <md-tabs flex layout="column" md-stretch-tabs="always" md-dynamic-height md-no-ink md-stretch-tabs="auto">
                                <md-tabs-wrapper class="tb-wrp md-stretch-tabs">

                                    <md-tab class="user-tabs" label="Manage Campaigns">
                                        <md-content class="tab-content md-padding" ng-controller="ManageCampaign">
                                            <div layout="row" id="labels">
                                                <md-card>
                                                    <md-button style="width:175px;" ng-click="createCampaignDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Campaign">Create Campaign</md-button>
                                                    <md-button style="width:175px;" ng-click="createCharacterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Character">Create Character</md-button>
                                                    <md-button style="width:175px;" ng-click="createMonsterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Monster">Create Monster</md-button>
                                                    <md-button style="width:175px;" ng-click="createEncounterDialog($event)" class="md-raised md-primary" type="submit" name="submit"
                                                        value="Create Encounter">Create Encounter</md-button>
                                                </md-card>
                                                <md-card ng-controller="CampaignServiceController as cc">
                                                    <md-select flex placeholder="Select Campaign" ng-model="campaign" ng-change="onChange()" style="width: 300px;">
                                                        <md-option ng-value="campaign" ng-repeat="campaign in cc.campaignList.list" ng-model="cc.campaignList.list">{{campaign.campaign_name}}</md-option>
                                                    </md-select>

                                                    <h3 center style="text-align:center;vertical-align: middle;line-height: 30px;" value="campaign.campaign_notes">Campaign Notes
                                                        <hr />{{ campaign.campaign_notes }}</h3>
                                                </md-card>
                                            </div>
                                            <div layout="row" id="labels">

                                                <md-card style="width:245px;max-height:325px;" ng-controller="CampaignServiceController as cc">
                                                    <md-title>
                                                        <h4 style="text-align:center;vertical-align: middle;line-height: 10px;">Characters</h4>
                                                        <hr />
                                                    </md-title>
                                                    <md-content>
                                                        <ul>
                                                            <li ng-repeat="character in cc.characterList.list" style="vertical-align:middle;">
                                                                <img style="zoom:75%;padding:10px;vertical-align:middle;" ng-src="{{character.character_icon}}" />{{character.character_name}}
                                                                <md-button ng-click="cc.deleteCharacter(character)" style="float:right;margin: 10px 0px 0px 0px;" class="md-fab md-mini"
                                                                    aria-label="Delete Character">
                                                                    <md-icon md-font-icon="mi mi-delete"></md-icon>
                                                                </md-button>
                                                            </li>
                                                        </ul>
                                                    </md-content>
                                                </md-card>

                                                <md-card style="width:245px;max-height:325px;" ng-controller="CampaignServiceController as cc">
                                                    <md-title>
                                                        <h4 style="text-align:center;vertical-align: middle;line-height: 10px;">Monsters</h4>
                                                        <hr />
                                                    </md-title>
                                                    <md-content>
                                                        <ul>
                                                            <li ng-repeat="monster in cc.monsterList.list" style="vertical-align:middle;">
                                                                <img style="zoom:20%;padding:10px;vertical-align:middle;" ng-src="{{monster.monster_icon}}" />{{monster.monster_name}}
                                                                <md-button ng-click="cc.deleteMonster(monster)" style="float:right;margin: 10px 0px 0px 0px;" class="md-fab md-mini" aria-label="Delete Monster">
                                                                    <md-icon md-font-icon="mi mi-delete"></md-icon>
                                                                </md-button>
                                                            </li>
                                                        </ul>
                                                    </md-content>
                                                </md-card>
                                            </div>
                                    </md-tab>

                                    <md-tab class="user-tabs" label="Initiative Tracker">
                                        <md-content class="tab-content md-padding" ng-controller="ManageCampaign">
                                            <div layout="row" id="labels">
                                                <md-card>
                                                    <md-card ng-controller="CampaignServiceController as cc">
                                                        <md-select flex placeholder="Select Campaign" ng-model="campaign" ng-change="onChange()" style="width: 250px;">
                                                            <md-option ng-value="campaign" ng-repeat="campaign in cc.campaignList.list" ng-model="cc.campaignList.list">{{campaign.campaign_name}}</md-option>
                                                        </md-select>

                                                        <h3 center style="text-align:center;vertical-align: middle;line-height: 30px;" value="campaign.campaign_notes">Campaign Notes
                                                            <hr />{{ campaign.campaign_notes }}</h3>
                                                    </md-card>
                                                </md-card>
                                                <md-card ng-controller="CampaignServiceController as cc">
                                                    <md-select flex placeholder="Select Encounter" ng-model="encounter" ng-change="onLoad()" style="width: 250px;">
                                                        <md-option ng-value="encounter" ng-repeat="encounter in cc.encounterList.list" ng-model="cc.encounterList.list">{{encounter.encounter_name}}</md-option>
                                                    </md-select>

                                                    <h3 center style="text-align:center;vertical-align: middle;line-height: 30px;" value="encounter.encounter_name">Encounter Name
                                                        <hr />{{ encounter.encounter_name }}</h3>
                                                </md-card>
                                            </div>
                                            <div layout="row" id="labels">

                                                <md-card style="width:245px;max-height:325px;" ng-controller="CampaignServiceController as cc">
                                                    <md-title>
                                                        <h4 style="text-align:center;vertical-align: middle;line-height: 10px;">Characters</h4>
                                                        <hr />
                                                    </md-title>
                                                    <md-content>
                                                        <ul>
                                                            <li ng-repeat="character in cc.characterList.list" style="vertical-align:middle;">
                                                                <img style="zoom:75%;padding:10px;vertical-align:middle;" ng-src="{{character.character_icon}}" />{{character.character_name}}
                                                                <md-button ng-click="cc.deleteCharacter(character)" style="float:right;margin: 10px 0px 0px 0px;" class="md-fab md-mini"
                                                                    aria-label="Delete Character">
                                                                    <md-icon md-font-icon="mi mi-delete"></md-icon>
                                                                </md-button>
                                                            </li>
                                                        </ul>
                                                    </md-content>
                                                </md-card>
                                            </div>
                                    </md-tab>
                                </md-tabs-wrapper>
                            </md-tabs>
                        </div>
                    </md-card>
                </div>
                </md-content>
        </div>
    </div>
</div>