<md-dialog aria-label="About The Developer">
        <form ng-cloak>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>About The Developer</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>
      
          <md-dialog-content class="md-padding" layout-xs="column" layout="row">
            <div class="md-dialog-content">
                <md-card>
                    <md-card-title>
                        <md-card-title-media>
                            <img src="/images/about/reneevorbeck.png" class="md-card-image" alt="This is Renee!">
                        </md-card-title-media>
                        <md-card-title-text>
                            <span class="md-headline">Renee Vorbeck</span>
                            <span class="md-display1">Full Stack Engineering Student</span>
                            <span class="md-subhead">I'm Renee Vorbeck, a Prime Digital Academy Student in Minneapolis, MN.</span>
                            <span class="md-subhead">I'm currently studying Full Stack Engineering. Thank you for taking the time to use my application!</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
          </md-dialog-content>
        </form>
      </md-dialog>