<md-dialog aria-label="Technologies">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Changelog</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" layout="row">
      <div class="md-dialog-content" layout="row">
        <md-card>
          <md-card-title class="md-padding">
            <md-card-title-media class="changelog">
              <img src="/images/banners/changelog_banner.png" class="md-card-image" alt="Changelog!">
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <span class="md-display1">Latest Changes Go Here In A List</span>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-title class="md-padding">
            <md-card-title-media class="changelog">
              <img src="/images/banners/upcomingfeatures_banner.png" class="md-card-image" alt="Changelog!">
            </md-card-title-media>
          </md-card-title>
          <md-card-content>
            <span class="md-display1">Future Features Go Here In A List</span>
          </md-card-content>
        </md-card>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>