<md-dialog aria-label="Create Character">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Character</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout="row">
            <div class="md-dialog-content">
                <md-card>
                    <md-content style="width:800px;" class="md-padding" ng-controller="ManageCampaign as mc">
                        <form ng-submit="mc.createCharacter()">
                            <md-input-container class="md-icon-float md-block">
                                <md-icon style="position: absolute;" aria-label="Character Name" md-font-icon="mi mi-person"></md-icon>
                                <input ng-model="mc.character.name" type="character name" placeholder="Character Name" ng-required="true">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <md-icon style="position: absolute;" aria-label="Character Class" md-font-icon="mi mi-add-a-photo"></md-icon>
                                <md-select flex-gt-xs="50" placeholder="Select Character Class" ng-model="mc.classes">
                                    <md-select-label><img ng-src="{{ classes.image }}"/></md-select-label>
                                    <md-option ng-repeat="class in classes track by $index" ng-value="class.value"><div layout="row"><img ng-src="{{class.image}}"/><p>{{class.value}}</p></div></md-option>
                                    </md-select>
                            </md-input-container>
                            <div layout="row" flex>
                                <span flex></span>
                                <md-button class="md-raised md-primary" type="submit" name="submit" value="Create Character">Create Character</md-button>
                            </div>
                        </form>
                    </md-content>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>