<md-dialog aria-label="Create Encounter">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Encounter</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout="row">
            <div class="md-dialog-content">
                <md-card>
                    <md-content style="width:800px;" class="md-padding" ng-controller="CampaignServiceController as cc">
                        <form>
                            <md-select style="float:left;width: 300px;" flex-gt-xs="50" placeholder="Select Campaign" ng-model="cc.campaign" ng-change="onChange()"
                                ng-required="true">
                                <md-option ng-value="campaign" ng-repeat="campaign in cc.campaignList.list">{{campaign.campaign_name}}</md-option>
                            </md-select>
                            <br />
                            <br />
                            <md-input-container class="md-icon-float md-block">
                                <md-icon style="position: absolute;" aria-label="Encounter Name" md-font-icon="mi mi-person"></md-icon>
                                <input ng-model="cc.encounter.encounter_name" type="encounter name" placeholder="Encounter Name" ng-required="true">
                            </md-input-container>
                            <div layout-gt-sm="row">
                                <md-input-container flex-gt-xs="50" class="md-icon-float md-block">
                                    <md-icon style="position: absolute;" aria-label="Characters" md-font-icon="mi mi-photo"></md-icon>
                                    <md-select placeholder="Select Characters" ng-model="cc.character" ng-required="true" multiple>
                                        <md-select-label>
                                            <img ng-src="{{ character.character_icon }}" />
                                        </md-select-label>
                                        <md-option ng-repeat="character in cc.characterList.list">
                                            <div layout="row">
                                                <img style="zoom:50%;" ng-src="{{character.character_icon}}" />
                                                <p style="font-size:75%;padding:0px 5px;">{{character.character_name}}</p>
                                            </div>
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container flex-gt-xs="50" class="md-icon-float md-block">
                                    <md-icon style="position: absolute;" aria-label="Monsters" md-font-icon="mi mi-photo"></md-icon>
                                    <md-select placeholder="Select Monsters" ng-model="cc.monster" ng-required="true" multiple>
                                        <md-select-label>
                                            <img ng-src="{{ monster.monster_icon }}" />
                                        </md-select-label>
                                            <md-option ng-repeat="monster in cc.monsterList.list">
                                                <div layout="row">
                                                    <img style="zoom:20%;" ng-src="{{monster.monster_icon}}" />
                                                    <p style="font-size:75%;padding:0px 5px;">{{monster.monster_name}}</p>
                                                </div>
                                            </md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" flex>
                                <span flex></span>
                                <md-button ng-click="cc.addEncounter(cc.encounter, cc.campaign, cc.character, cc.monster)" class="md-raised md-primary" type="submit" name="submit"
                                    value="Create Encounter">Create Encounter</md-button>
                            </div>
                        </form>
                    </md-content>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>