<md-dialog aria-label="Inspirations">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Inspirations</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-padding" layout="column">
       <div class="md-dialog-content" layout="column">
          <md-card class="inspiration">
              <md-card-title class="md-padding">
                  <md-card-title-media>
                      <img src="/images/about/mattcolville.png" class="md-card-image" alt="This is Matt Colville!">
                  </md-card-title-media>
                <md-card-title-text>
                    <span class="md-title" >Matt Colville</span>
                    <span class="md-display1"><i>"Hey everybody, Matt Colville here."</i></span>
                    <br />
                    <span class="subhead">Matt Colville is a writer and designer in the video game business, but before that he was also a designer in the tabletop business.</span>
                    <span class="subhead">He is really passionate about helping others get into the game of Dungeons and Dragons, especially as Dungeon Masters.</span>
                    <br />
                    <span class="subhead">You can find Matt on <a href="https://www.youtube.com/user/mcolville">Youtube</a>, <a href="https://www.twitch.tv/mattcolville">Twitch</a>, <a href="https://twitter.com/mattcolville">Twitter</a> and <a href="reddit.com/r/mattcolville/">Reddit</a>.</span>
                    <span class="subhead">Drop him a tweet if you like his videos and material, he's pretty active with his fanbase.</span>
                </md-card-title-text>
              </md-card-title>
          </md-card>

          <md-card class="inspiration"> 
              <md-card-title class="md-padding">
                  <md-card-title-media>
                      <img src="/images/about/jimmurphy.png" class="md-card-image" alt="This is Jim Murphy!">
                  </md-card-title-media>
                  <md-card-title-text>
                      <span class="md-title">Jim Murphy</span>
                      <span class="md-display1"><i>"Fight me, devils, fight! For I hate peace."</i></span>
                      <br />
                      <span class="subhead">Jim Muphy a table top gamer that started back in the 60's with board games, miniatures and RPGs in the 70's and CCG since the start.</span>
                      <span class="subhead">He has been around the business for over 40 years and just recently started recording videos.</span>
                      <br />
                      <span class="subhead">You can find Jim on <a href="https://www.youtube.com/channel/UCdMl19aDv5e_2l_AeJRXp2g">Youtube</a> and <a href="https://twitter.com/game_methuselah">Twitter</a>.</span>
                      <span class="subhead">Drop him a tweet if you like his videos and material, it's very rare to have someone in this business for over four decades.</span>
                  </md-card-title-text>
              </md-card-title>
          </md-card>

          <md-card>
              <md-card-title class="md-padding" class="inspiration">
                  <md-card-title-media>
                      <img src="/images/about/mattmercer.png" class="md-card-image" alt="This is Matt Mercer!">
                  </md-card-title-media>
                <md-card-title-text>
                    <span class="md-title">Matt Mercer</span>
                    <span class="md-display1"><i>"Welcome to tonight's episode of Critical Role where a bunch of nerdy ass voice actors play Dungeons and Dragons!"</i></span>
                    <br />
                    <span class="subhead">Matt Mercer is a professional voice actor in aniamtion and video games, but also a professional dungeon master.</span>
                    <span class="subhead">If you don't know Matt for being the dungeon master of Critical Role, you might know him from Overwatch as McCree.</span>
                    <br />
                    <span class="subhead">You can find Matt on <a href="https://www.youtube.com/geekandsundry">Youtube</a>, <a href="https://www.twitch.tv/geekandsundry">Twitch</a>, <a href="https://twitter.com/matthewmercer">Twitter</a> and <a href="reddit.com/r/criticalrole/">Reddit</a>.</span>
                    <span class="subhead">Matt Mercer is known as Good Matt, while Matt Colville is known as Evil Matt.</span>
                </md-card-title-text>
              </md-card-title>
          </md-card>
        </div>
      </md-dialog-content>
    </form>
  </md-dialog>