<md-dialog aria-label="Technologies">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Technologies</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="mi mi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding" layout="row">
            <div class="md-dialog-content" layout="row">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">Front End Technologies</span>
                            <span class="md-display1">HTML 5</span>
                            <span class="md-display1">CSS 3</span>
                            <span class="md-display1">AngularJS</span>
                            <span class="md-display1">Material Design</span>
                            <span class="md-display1">Ajax</span>
                            <span class="md-display1">Express</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">Back End Technologies</span>
                            <span class="md-display1">Node.js</span>
                            <span class="md-display1">PostgreSQL</span>
                            <span class="md-display1"></span>
                            <span class="md-display1"></span>
                            <span class="md-display1"></span>
                            <span class="md-display1"></span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-title">Open Source Licenses</span>
                            <span class="md-display1">5eTools</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>